.menu
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%; 
    z-index: 1;
    border-bottom: 0.1rem solid var(--light-red-color);
}
.menu-content
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;

}
.menu h1
{
    font-size: 2.3rem;
    color: var(--primary-color);
}
.menu h1 a
{
    color: inherit;
}
.menu ul
{
    list-style: none;
    display: flex;
}
.menu ul li a
{
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--primary-color);
    position: relative;  
} 
.menu ul li a::after
{
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0%;
    height: 0.2rem;
    background: var(--secondary-color);
    transition: all 300ms ease-in-out;
    
}           
.menu ul li a:hover::after
{
    width: 50%;
    left: 25%;
    
}           
.menu ul li a:hover
{
    color:var(--light-red-color);
    text-shadow: 0px 0px 15px var(--light-red-color);
}


.theme
{
    background-color: var(--light-red-color);
}

/* html[dark]
{
    --black-color:var(--black-color);
    --white-color:var(--white-color);
} */

.checkbox
{
    opacity: 0;
    position: absolute;
}

.label
{
    background-color: var(--black-color);
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(0.75);
}

.label .ball 
{
    background-color: var(--white-color);
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translate(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball
{
    transform: translate(24px);
}

.fa-moon
{
    color: #f1c40f;
}

.fa-sun
{
    color: #f39c12;
}